/**
 * Basic stylesheet for the RHD MailChimp plugin by Roundhouse Designs
 **/

.rhd-mc-text {
	margin: 0.5em 0;
	text-align: center;
}

.rhd-mc-text p,
.rhd-mc-thanks p,
.rhd-mc-error p {
	margin: 0;
}

.rhd-mc-fname,
.rhd-mc-lname,
.rhd-mc-email {
	width: 100%;
	margin: 0.25em auto;
	padding: 0.25em;
	font-size: 1em;
}

.rhd-mc-submit {
	text-align: center;
	border: none;
	padding: 0.3125em;
	font-size: .9em;
	margin-left: 0.625em;
	position: relative;
	cursor: pointer;
	outline: none;
}

.rhd-mc-thanks,
.rhd-mc-error {
	width: 100%;
	position: absolute;
	bottom: -1.6em;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	text-align: center;
}