/**
 * Basic stylesheet for the RHD MailChimp plugin by Roundhouse Designs
 **/

#rhd-mailchimp-widget {
	position: relative;
}

#rhd-mailchimp-widget-content {
	font-weight: normal;
}

#rhd-mailchimp-widget-content .subscribe {
	margin: 0.5em 0;
	text-align: center;
}

.rhd_mc_subscribe input {
	box-sizing: border-box;
}

.rhd_mc_subscribe .rhd_mc_fname,
.rhd_mc_subscribe .rhd_mc_lname,
.rhd_mc_subscribe .rhd_mc_email {
	width: 13em;
	margin: 0.25em auto;
	padding: 0.25em;
	background: #fff;
	font-size: 1em;
	border: 1px solid #660000;
	border-radius: 2px;
}

.rhd_mc_subscribe input.rhd_mc_submit {
	text-align: center;
	background: #660000;
	color: #fff;
	border: none;
	padding: 5px;
	font-size: .9em;
	margin-left: 10px;
	position: relative;
	top: 5px;
	cursor: pointer;
	outline: none;
}

.rhd_mc_thanks {
	display: none;
}

.rhd_mc_thanks {
	width: 100%;
	position: relative;
}

/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}