/**
 * Basic stylesheet for the RHD MailChimp plugin by Roundhouse Designs
 **/
 
#rhd-mailchimp-widget {
	position: relative;
}

#rhd-mailchimp-widget-content {
	font-weight: normal;
}

#rhd-mailchimp-widget-content .subscribe {
	margin: 4px 0;
}

#mc_subscribe input[type="text"],
#mc_subscribe input[type="email"] {
	width: 13em;
	margin: 0.25em auto;
	padding: 0.25em;
	background: #fff;
	font-size: 1;
	border: 1px solid #660000;
	border-radius: 2px;
}

#mc_subscribe input#mc_submit {
	text-align: center;
	background: #660000;
	color: #fff;
	border: none;
	padding: 5px;
	font-size: .9em;
	margin-left: 10px;
	position: relative;
	top: 5px;
	cursor: pointer;
	outline: none;
}

#mc_thanks,
#mc_error,
.ajax-loader {
	display: none;
}

#mc_thanks {
	width: 100%;
	position: absolute;
	top: 0;
	text-align: center;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}