/**
 * Basic stylesheet for the RHD MailChimp plugin by Roundhouse Designs
 **/
 
#rhd-mailchimp-widget {
	height: 140px;
	position: relative;
}

#rhd-mailchimp-widget-content {
	font-weight: normal;
}

#rhd-mailchimp-widget-content .subscribe {
	margin: 4px 0;
}

#mc_subscribe input {
	float: left;
}

#mc_subscribe input[type="text"],
#mc_subscribe input[type="email"] {
	width: 208px;
	margin: 4px auto;
	padding: 5px;
	background: #fff;
	border-radius: 2px;
	font-size: .9em;
	border: 1px solid #660000;
}

#mc_subscribe input#mc_submit {
	width: 65px;
	height: 29px;
	text-align: center;
	background: #660000;
	color: #fff;
	border: none;
	padding: 5px;
	font-size: .9em;
	margin-left: 10px;
	position: relative;
	top: 5px;
	cursor: pointer;
	outline: none;
}

#mc_thanks,
#mc_error,
.ajax-loader {
	display: none;
}

#mc_thanks {
	width: 100%;
	position: absolute;
	top: 0;
	text-align: center;
}